/*============
Jumbotron 1
============*/
@import url('https://fonts.googleapis.com/css?family=Anton|Oswald');
#jumbo1 {
	background: url(https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?auto=format&fit=crop&w=1050&q=80) center center no-repeat;
  width:1400px;
  height:799px;
	background-size: cover;
	text-align: center;
}

#jumbo1 h1 {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 120px;
	font-weight: 700;
	margin-top: 105px;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

#jumbo1 p {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 1000;
	font-size: 18px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
	margin-top: 30px;
}

.btnTop {
	font-family: 'Oswald', sans-serif;
	background: #1c1c1c;
	color: white;
	border-radius: 0;
	font-size: 18px;
	padding: 8px 30px;
}

.btnTop:hover {
	color: black;
	background: #ffa800;
}


/*=================
Supporting Columns
=================*/

.supporting-col {
	text-align: center;
	background: #1c1c1c;
	padding: 20px 0;
}

.supporting-col h2 {
	color: #ffa800;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 30px;
}

.supporting-col p {
	color: white;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

.col {
	max-width: 80%;
	margin: 0 auto;
}
