<!--First Jumbotron-->

	<div class='jumbotron' id='jumbo1'>
		<div class='container'>
			<h1>Handyman</h1>
			<p>skill search system</p>
			<a class='btn btnTop' href='/login'>Log in</a>
			<a class='btn btnTop' href='/signin'>Register</a>
		</div>
	</div>
	<!--End First Jumbotron-->
	<script src="/jquery-3.2.1.js" charset="utf-8"></script>
	<script src="/javascript.js" charset="utf-8"></script>
