<link rel='stylesheet' href='/login.css'>
<h1>Sign In To Handyman</h1>
<div id="wrapper">
	<form id="signin" method="post" action="/login" autocomplete="on">
		<input type="text" id="user" name="user" placeholder="username" />
		<input type="password" id="pass" name="pass" placeholder="password" />
		<button type="submit">&#xf0da;</button>
		<p>forgot your password? <a href="#">click here</a></p>
	</form>
</div>
