
<div class=container>

    <div class="alert alert-success alert-dismissable fade in">
        <h2>Success!</h2><br>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong> Your details have been saved. Click on the link below to load the main page.</strong>
    </div>

    <br>
    <button><a href="/homepage">Homepage</a></button>
    <br>
    <a href="/">Landing page</a>
</div>
